$main-color = #6671bc
$main-color-dark = #6671bc
$sub-color = #d1d6ec
$sub-color-dark = #d1d6ec
$btn-text-color = #1c171c
$title-color = #5F505F
$title-color-dark = #f4f5fa
$icon-active-color = #5e63b2
$hover-color = #bbc5cf
$active-color = #93a3b3